

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
}




Estilos para el texto del logo
.texto-logo {
  color: #0d4c80; /* Color del texto del logo */
  font-family: "Raleway", sans-serif; /* Fuente del texto del logo */
  font-optical-sizing: auto; /* Ajuste óptico de la fuente */
  font-weight: 800; /* Grosor de la fuente */
  font-style: normal; /* Estilo de la fuente */
}

/* Estilos para el logotipo */
.logo {
  width: 50px;
  height: 50px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)); /* Sombra del logotipo */
}

/* Estilos para el botón del menú hamburguesa */
/* .navbar-toggler { */
/* border: 3px solid rgb(168, 166, 183); Establecer un borde amarillo al botón del menú hamburguesa */
/* } */

/* Estilos para el icono del menú hamburguesa */
.navbar-toggler-icon {
  /* border: 3px solid rgb(32, 24, 157); Establecer un borde verde al icono del menú hamburguesa */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='blue' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); /* Cambiar el color del icono del menú hamburguesa a azul */
}

.carousel-item img {
  height: 400px; /* Establece la altura deseada */
  object-fit: cover; /* Escala la imagen para cubrir todo el contenedor */
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='purple'  class='bi bi-caret-left-fill' viewBox='0 0 16 16'%3E%3Cpath d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='purple' class='bi bi-caret-left-fill' viewBox='0 0 16 16'%3E%3Cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3E%3C/svg%3E");
}

.fondoazul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 57, 118, 0.8);
}

.colorcard {
  background-color: #004daa;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Añade una sombra de texto para resaltar el texto */
}

.colorcard2 {
  background-color: #002D77;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Añade una sombra de texto para resaltar el texto */
}


.colorcard2footer {
  background: linear-gradient(to right, #ffffff, #0D3B66, #6C757D, #004445, #ffffff);
}

.titulocolorcard
{
  background-color: rgba(0, 57, 118, 0.8);
}

.colorcardservicios {
  background: linear-gradient(to right, rgba(0, 57, 118, 0.8), rgba(0, 39, 77, 0.8));
  color: white; /* Establece el color del texto en blanco */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Añade una sombra de texto para resaltar el texto */
}




.ColorfondoFooter {
  background-color: #02022e;

  font-family: "Raleway", sans-serif;
  text-size-adjust: 100%;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  font-style: normal;
  vertical-align: baseline;
 

}

.ColorfondoFooter2 {
  background-color: #030310;
 

   /* elimina el espacio blanco que deja abajo */
  overflow: hidden;


}






/* Estilos para el botón de WhatsApp flotante */
.floating-wpp {
    position: fixed;
    bottom: 15px;
    right: 15px; /* Cambiado de 'left' a 'right' para ubicarlo en el lado derecho */
    font-size: 14px;
    transition: bottom 0.2s;
}

.floating-wpp .floating-wpp-button {
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
    transition: box-shadow 0.2s;
    cursor: pointer;
    overflow: hidden;
}

.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
}

.floating-wpp:hover {
    bottom: 17px;
}

.floating-wpp:hover .floating-wpp-button {
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}

.floating-wpp .floating-wpp-popup {
    border-radius: 6px;
    background-color: #e5ddd5;
    position: absolute;
    overflow: hidden;
    padding: 0;
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
    width: 0;
    height: 0;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
    transform-origin: bottom;
}

.floating-wpp .floating-wpp-popup.active {
    padding: 0 12px 12px 12px;
    width: 260px;
    height: auto;
    bottom: 82px;
    opacity: 1;
}

.floating-wpp .floating-wpp-popup .floating-wpp-message {
    background-color: white;
    padding: 8px;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.2s;
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
    opacity: 1;
    transition-delay: 0.2s;
}

.floating-wpp .floating-wpp-popup .floating-wpp-head {
    text-align: right;
    color: white;
    margin: 0 -15px 10px -15px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.floating-wpp .floating-wpp-input-message {
    background-color: white;
    margin: 10px -15px -15px -15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.floating-wpp .floating-wpp-input-message textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

.floating-wpp .floating-wpp-btn-send {
    margin-left: 12px;
    font-size: 0;
    cursor: pointer;
}
