/* Estilos de reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  overflow-y: auto; /* Muestra el desplazamiento vertical solo si es necesario */
}

/* Estilos para el texto del logo */
.texto-logo {
  color: #0d4c80; /* Color del texto del logo */
  font-family: "Raleway", sans-serif; /* Fuente del texto del logo */
  font-optical-sizing: auto; /* Ajuste óptico de la fuente */
  font-weight: 800; /* Grosor de la fuente */
  font-style: normal; /* Estilo de la fuente */
}

/* Estilos para el logotipo */
.logo {
  width: 50px;
  height: 50px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)); /* Sombra del logotipo */
}

/* Estilos para el botón del menú hamburguesa */
/* .navbar-toggler { */
  /* border: 3px solid rgb(168, 166, 183); Establecer un borde amarillo al botón del menú hamburguesa */
/* } */

/* Estilos para el icono del menú hamburguesa */
.navbar-toggler-icon {
  /* border: 3px solid rgb(32, 24, 157); Establecer un borde verde al icono del menú hamburguesa */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='blue' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); /* Cambiar el color del icono del menú hamburguesa a azul */
}

.carousel-item img {
  height: 400px; /* Establece la altura deseada */
  object-fit: cover; /* Escala la imagen para cubrir todo el contenedor */
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='purple'  class='bi bi-caret-left-fill' viewBox='0 0 16 16'%3E%3Cpath d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='purple' class='bi bi-caret-left-fill' viewBox='0 0 16 16'%3E%3Cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3E%3C/svg%3E");
}

.fondoazul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 57, 118, 0.8);
}
